Repository dynatrace-oss/dynatrace-mcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt, @krisdyna, @dt-benedict

.github/CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# This file designates code owners for this repository.
# Each line is a file pattern followed by one or more owners.

# core maintainers
* @christian-kreuzberger-dtx @MrManny @raphael-wigoutschnigg-dt

# allow updates for markdown files and server.json
*.md @krisdyna @dt-benedict
server.json @krisdyna @dt-benedict

# allow updates of agent rules
dynatrace-agent-rules/** @dt-benedict

Merge branch 'main' into feature/send-email
  .husky/pre-commit
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

feat: Complete send email feature implementation
  package-lock.json
  src/authentication/dynatrace-clients.test.ts
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

chore(release): prepare for 0.6.0-rc.2 release
  CHANGELOG.md
  package-lock.json
  package.json
  server.json
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

Remove extra packages
  eslint.config.js
  eslint.config.ts
  package-lock.json
  package.json
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

Update README.md
  README.md
Owners: @krisdyna, @dt-benedict

Update docs/development.md
  docs/development.md
Owners: @krisdyna, @dt-benedict

Update README.md
  README.md
Owners: @krisdyna, @dt-benedict

feat: Added tool-annotations
  CHANGELOG.md
  src/index.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

chore(release): prepare for 0.6.0 release
  CHANGELOG.md
  package-lock.json
  package.json
  server.json
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

patch: Added google-gemini-cli in README
  README.md
Owners: @krisdyna, @dt-benedict

first try
  Dockerfile
  package-lock.json
  package.json
  src/azure-startup.ts
  web.config
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_dynatrace-mcp-proxy.yml
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

add deploy to azure
  .github/workflows/container.yml
  .github/workflows/main.yml
  .github/workflows/pr-package-json-comment.yml
  .github/workflows/release.yml
  src/azure-startup.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

update workflow
  .github/workflows/main_dynatrace-mcp-proxy.yml
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

update all
  .github/workflows/main_dynatrace-mcp-proxy.yml
  package.json
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

Added Demo Video to README
  README.md
Owners: @krisdyna, @dt-benedict

Update demo video link in README
  README.md
Owners: @krisdyna, @dt-benedict

Update README to remove video section
  README.md
Owners: @krisdyna, @dt-benedict

patch: Added google-gemini-cli in README
  .github/prompts/release.prompt.md
  README.md
  gemini-extension.json
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

update events meta
  .github/workflows/main_dynatrace-mcp-proxy.yml
  package.json
  src/capabilities/get-events-for-cluster.ts
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

fix: Fixed an issue with MCP communication failing due to dotenv.
  CHANGELOG.md
  gemini-extension.json
  package-lock.json
  package.json
  server.json
  src/index.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

feat: Added human-approval step for send-email, send-slack-message, create-workflow and make-workflow-public
  CHANGELOG.md
  src/index.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

feat: Adding oauth authorization code flow
  .gitignore
  CHANGELOG.md
  src/authentication/dynatrace-clients.test.ts
  src/authentication/dynatrace-clients.ts
  src/authentication/dynatrace-oauth-auth-code-flow.test.ts
  src/authentication/dynatrace-oauth-auth-code-flow.ts
  src/authentication/dynatrace-oauth-base.ts
  src/authentication/dynatrace-oauth-client-credentials.ts
  src/authentication/token-cache.ts
  src/authentication/types.ts
  src/authentication/utils.ts
  src/getDynatraceEnv.test.ts
  src/getDynatraceEnv.ts
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt, @krisdyna, @dt-benedict

chore: Upgrade mcp-publisher to 1.1.0 to fix problem with publishing process
  .github/workflows/release.yml
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

feat: Auto-detect entity name and consolidate entity-details into the search tool
  CHANGELOG.md
  src/capabilities/find-monitored-entity-by-name.test.ts
  src/capabilities/find-monitored-entity-by-name.ts
  src/index.ts
  src/utils/dynatrace-entity-types.test.ts
  src/utils/dynatrace-entity-types.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

feat: Added human-approval step for send-email, send-slack-message, create-workflow and make-workflow-public
  CHANGELOG.md
  src/index.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

fix copilot review comment
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

patch: Provide a clearer error message in case Davis Copilot is not enabled
  CHANGELOG.md
  src/capabilities/davis-copilot.ts
  src/index.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

patch: Remove DQL Budget enforcement when a Dev or Hardening tenant is used
  CHANGELOG.md
  src/getDynatraceEnv.test.ts
  src/getDynatraceEnv.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

patch: Slightly improve tool description for less token-consumption
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

feat: Auto-detect entity name and consolidate entity-details into the search tool
  CHANGELOG.md
  src/capabilities/find-monitored-entity-by-name.test.ts
  src/capabilities/find-monitored-entity-by-name.ts
  src/index.ts
  src/utils/dynatrace-entity-types.test.ts
  src/utils/dynatrace-entity-types.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

review comments
  src/capabilities/get-monitored-entity-details.ts
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

chore(release): prepare for 0.7.0 release
  CHANGELOG.md
  gemini-extension.json
  package-lock.json
  package.json
  server.json
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

Added Demo Video to README
  README.md
Owners: @krisdyna, @dt-benedict

Update demo video link in README
  README.md
Owners: @krisdyna, @dt-benedict

Update README to remove video section
  README.md
Owners: @krisdyna, @dt-benedict

feat: Adding oauth authorization code flow
  .gitignore
  CHANGELOG.md
  src/authentication/dynatrace-clients.test.ts
  src/authentication/dynatrace-clients.ts
  src/authentication/dynatrace-oauth-auth-code-flow.test.ts
  src/authentication/dynatrace-oauth-auth-code-flow.ts
  src/authentication/dynatrace-oauth-base.ts
  src/authentication/dynatrace-oauth-client-credentials.ts
  src/authentication/token-cache.ts
  src/authentication/types.ts
  src/authentication/utils.ts
  src/getDynatraceEnv.test.ts
  src/getDynatraceEnv.ts
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt, @krisdyna, @dt-benedict

feat: Open auth URL in a browser
  package-lock.json
  package.json
  src/authentication/dynatrace-oauth-auth-code-flow.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

patch: Added a limit to get_kubernetes_events
  CHANGELOG.md
  src/capabilities/get-events-for-cluster.ts
  src/index.ts
Owners: @krisdyna, @dt-benedict, @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt

chore: Fix some typos
  src/authentication/dynatrace-clients.ts
  src/capabilities/update-workflow.ts
  src/index.ts
Owners: @christian-kreuzberger-dtx, @MrManny, @raphael-wigoutschnigg-dt
